.container_resultados{
    width: 100%;
    margin:30px auto;

    display: flex;
    flex-flow: row nowrap;
    padding: 20px ;
  }

.resultado_item{
    width: 50%;
    max-width: 580px;

    min-width: 400px;
    min-height: 600px;

    margin:auto;
    padding: 20px 5px;

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden;
}

.resultado_item + p{
    text-align: center;
}

.resultado_item >img{
    max-width: 300px;
    max-height: 250px;

}

.resultado_item button[class^='button']{
    margin:2px ;

    display: inline-block;
    background-color: rgb(93, 93, 138);
    border: none;
    color: white;
    padding: 5px 20px;
}


.tipo_local{
    padding: 5% 10% ;
    display: flex;
    flex-flow: column wrap;
    text-align: start;
}
.tipo_local p{
  margin:0px;
}


.resultado_detalles{
    width: 96%;
    padding: 20px 5px;

    display: none;

    background-color: rgb(75, 218, 75);

    animation-duration: 1s;
}

@media (max-width:900px){
    .container_resultados{
        padding: 10px;
        flex-flow: column nowrap;
      }

    .resultado_item{
        width: 96%;
        min-width: auto;
        min-height: 300px;

    }
    .resultado_detalles{
        margin: auto ;
        height: auto;
        max-width: 580px;
        width: 96%;
    }
    .tipo_local{
      padding: 5%;
    }



}

@keyframes aparece{
    from{
        width: 0%;
    }
    to{
        width: 96%;
    }
}
