.Comentario_item{
    margin: 20px 5px;
    display: flex;
    flex-flow: column wrap;

}

.Comentario_item  .cabezera_coment {
    
    padding: 5px;
    margin: auto 5px;

    background-color: rgb(168, 233, 219);
    border-radius: 5px 5px 0px  0px;


    display: flex;
    flex-flow: row wrap;

    justify-content:space-around;
    align-items: center;


}

.Comentario_item  .cabezera_coment  div  {
    display: flex;
    flex-flow:  row wrap;
    align-items: center;
    
}
.Comentario_item  .cabezera_coment  div > *  {
    margin: 5px;    
}


.comentario_texto{
    background-color: azure;
    border-radius: 0px 0px 5px  5px;

    padding: 5px;
    margin: auto 5px;

}
.img_user{
    width: 40px;
    height: 40px;
}